body{
  background: #eeeeee;
  font-family: 'Karla', sans-serif;
  font-size: 100%;
}

.sign-in-box{
  display: block;
  position: absolute;
  align-items: center;
  background-color: #fff;
  border: none;
  width: 45%;
  top: 10vh;
  left: 25vw;
  right: 25vw;
  margin: auto;
}

.nav-tabs{
  border-bottom: none;
}

.modal-content{
  border: none;
  padding: 0px;
  margin: 0px;
}

.sgtable{
  text-align: center;
  width: 100%;
  font-size: 1.2vw;
}

.sgin{
  border-right: 1px solid black;
  padding-right: 0.5vw;
}

.sign-in{
  border: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background: none;
  width: 48%;
}

.sign-up{
  width:48%;
  background: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: none;
}

form{
  font-size: 1.15vw;
  margin-top: 10vh;
  text-align: center;
}

.email{
  margin-bottom: 8px;
  width: 40%;
  height: 10%;
  padding: 10px;
}

.password{
  width: 40%;
  height: 10%;
  padding: 10px;
}

.logo-block{
  display: block;
  position: relative;
  top: 2vh;
  margin: auto;
  text-align: center;
}

.logo-img{
  width: 40%;
}

.forgot-pass{
  width: 30%;
  display: block;
  position: relative;
  margin: auto;
  text-align: left;
  right: 4%;
}

em{
  font-size: 0.7vw;
}

.login-box{
  text-align: center;
  margin-top: 2vh;
}

.login-btn{
  font-family: 'Nunito', sans-serif;
  font-size: 1.15vw;
  width: 40%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border:0;
  color: white;
  background: linear-gradient(-45deg, #790979, #FF3D77, #19a4c0, #fff0f0);
  background-size: 400% 400%;
  animation: change 7s ease-in-out infinite;
}

@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }

}

@media (max-width : 860px){
  body{
    font-size: 50%;
  }
}
