<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Navigation Bar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>nav-bar</title>
  </head>
  <body>
        <nav>
          <input type="checkbox" id="check">
          <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times"  id="cancel"></i>
          </label>
          <img class="logo" src="kod.png" alt="logo">
          <ul class="nav_links">
            <li><a href="#">Home</a></li>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
      </nav>
  </body>
</html>
