
body{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-body{
    position: absolute;
    top: 100px;
}

#bg{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.8;
    z-index: -2;
}


.Worker_list_sbar{
    padding-top: 8vh;
    left: 35vw;
    position: relative;
}
.Worker_list_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 8vh ;
    width: 200%;
    left: 20vw;
    right: 17vw;
    z-index: -2;
}
.Worker_list_pane{
    position: relative;
    left: 2vw;
    margin-top: 10vh;
}