.WCard_li{
}

.WCard_img{
    object-fit: contain;
    width: 30vw;
    height: auto;
}

.WCard_cards {
    padding: 0;
    min-font-size: 20px;
    font-size: 1.7vw;
    max-height: 250px;
    height: 30vw;
}

.checked {
    color: orange;
}

.Winfo{
    display: flex;
    flex-direction: column;
    justify-items: end;
}