body {
    padding: 10px;
    font-size: 1.3vw;
    background: #ebfffa;
}

.Sign_In_Form_li{
    font-size: 1vw;
}

.Sign_In_Form_img{
    object-fit: contain;
    max-height: 200px;
}

.Sign_In_Form_cards {
    background: #c6fce5;
    max-height: 250px;
    height: 10%;
}

.Sign_In_Form_checked {
    color: orange;
}