body {
    padding: 10px;
    font-size: 1.3vw;
    background: #ebfffa;
}

.WCard_li{
    font-size: 1vw;
}

.WCard_img{
    object-fit: contain;
    max-height: 200px;
}

.WCard_cards {
    background: #c6fce5;
    max-height: 250px;
    height: 10%;
}

.WCard_checked {
    color: orange;
}