.Category_Page_Sbar{
    padding-top: 8vh;
}
.Category_Page_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: -1;
}

.Category_Page_container{
    display: flex;
    flex-direction: row;
    justify-content : center;
    text-after: center;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 18vh;
}
