<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Sign-Up selection.css">
    <title>sign-up slect</title>
  </head>
  <body>
    <div class="sign-up-box shadow-lg p-3 mb-5 rounded">
      <table class="sgtable">
        <tr>
          <td class="sgin"><button class="sign-in" type="button" name="button">Sign In</button></td>
          <td class="sgup"><button class="sign-up" type="button" name="button">Sign Up</button></td>
        </tr>
      </table>
      <div class="logo-block">
        <img class="logo-img" src="kod.png" alt="logo">
      </div>
      <div class="choice-box">
        <button class="create-btn shadow-lg  mb-5 rounded" type="submit" name="signup">Create an Account</button><br>
        <button class="google-btn shadow-lg  mb-5 rounded" type="submit" name="google-btn">Sign up with Google</button>
      </div>
    </div>
  </body>
</html>
