body{
  background: #eeeeee;
  font-family: 'Karla', sans-serif;
}

.Sign_Up_Selection_sign-up-box{
  display: block;
  position: absolute;
  align-items: center;
  background-color: #fff;
  border: none;
  width: 45%;
  top: 10vh;
  left: 25vw;
  right: 25vw;
  margin: auto;
}

.Sign_Up_Selection_sgtable{
  text-align: center;
  width: 100%;
  font-size: 1.2vw;
}

.Sign_Up_Selection_sgin{
  border-right: 1px solid black;
  padding-right: 0.5vw;
}

.Sign_Up_Selection_sign-in{
  border: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background: none;
  width: 48%;
}

.Sign_Up_Selection_sign-up{
  width:48%;
  background: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: none;
}

.Sign_Up_Selection_logo-block{
  display: block;
  position: relative;
  top: 2vh;
  margin: auto;
  text-align: center;
}

.Sign_Up_Selection_logo-img{
  width: 40%;
}

.Sign_Up_Selection_choice-box{
  text-align: center;
  margin-top: 10vh;
}

.Sign_Up_Selection_create-btn{
  font-family: 'Nunito', sans-serif;
  font-size: 1.15vw;
  width: 40%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border:0;
  color: white;
  background: linear-gradient(-45deg, #790979, #FF3D77, #19a4c0, #fff0f0);
  background-size: 400% 400%;
  animation: change 7s ease-in-out infinite;
}

.Sign_Up_Selection_googlebtn{
  border: none;
  padding: 0;
  background: none;
  width: 100%;
}

.Sign_Up_Selection_google {
  background-color: #dd4b39;
  color: white;
  width: 40%;
  margin-bottom: 4vh;
}

.Sign_Up_Selection_btn:hover{
  opacity: 1;
}

/*horizontal line */
.Sign_Up_Selection_hol {
  position: relative;
  left:25%;
  width: 50%;
  color: black;
  border: 1px solid #ddd;
  height: 0;
  margin-bottom: 40px;
}

/* text inside the horizontal line */
.Sign_Up_Selection_hol-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }

}
