.Category_Card_card {
    max-width: 180px;
    width: 40vw;
    height: auto;
    border: none;
}

.Category_Card_h2{
    margin-top: 5px;
    font-size: 2.7vh;
}

.Category_Card_img {
    border: 1px solid #0dceda ;
    border-radius: 3px;
}
