body {
    background: #f0f0f0;
}

.card {
    background: #ebfffa;
    max-width: 200px;
    width: 30%;
    height: auto;
    border: none;
}

h2{
    margin-top: 5px;
    font-size: 1.7vw;
}

img {
    border: 1px solid #0dceda ;
    border-radius: 3px;
}
