body {
    background: #a6dcef;
}

.card {
    background: #f0f0f0;
    max-width: 200px;
    width: 40%;
    height: auto;
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    border: 1px solid #0dceda ;
    border-radius: 3px;
}
