
.body{
  background: #eeeeee;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: bold;
  margin: 0;
}

.Registration_Form_img{
  width: 10%;
  position: fixed;
  left: 10px;
  top: 10px;
}

.Registration_Form_form-box{
  margin: 7vh 20vw auto 20vw;
  font-size: 1.25vw;
  background: #fff;
}

.Registration_Form_vertical-line{
  border-left: 0.2vw solid #fff;
  height: 90vh;
  position: absolute;
  left: 15vw;
  margin-left: -0.05rem;
}

.Registration_Form{
  border-radius: 3px;
  border: none;
  box-shadow: black;
  height: 30px;
  line-height: 4vh;
}
.Registration_Form td{
  padding: 5px 10px 5px 10px;
}

.Registration_Form input{
  border-radius: 3px;
  border: none;
  box-shadow: black;
  height: 30px;
}

.Registration_Form_pass-msg{
  font-size: 0.7vw;
  margin-left: 2vw;
  font-family: 'Nunito', sans-serif;
  line-height: 2vh;
}

.Registration_Form_signup-btn{
  border-radius: 40px;
  margin: 4vh auto auto 2vw;
  font-family: 'Nunito', sans-serif;
  border: 0;
  color: #f6f5f5;
  text-shadow: 1px 1px 1px #fbf7f0;
  display: flex;
  line-height: 2.5;
  padding: 0 1.5rem;
  font-size: 1vw;
  background: linear-gradient(-45deg, #790979, #FF3D77, #19a4c0, #fff0f0);
  background-size: 400% 400%;
  animation: change 7s ease-in-out infinite;
}

@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
