*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}
.main{
  padding: 0;
  position: relative;
  width: 100%;
}

#logo{
  position: absolute;
  top: 2%;
  left: 4%;
  width: 8%;
}

.bottom{
  color: black;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #fafcc2, #a0c1b8, #19a4c0, #fff0f0);;
  position: absolute;
  display: none;
}

.card{
  background: #a3d8f4;
  position: flex;
  top: 3%;
  left: 8%;
}

.image{
  width: 30%;
}

.card .image img{
  object-fit: contain;
  padding-bottom: 20px;
}

.contentbox{
  position: absolute;
  top: 10%;
  left: 24%;
  text-align: center;
  padding: 18px 25px 18px 10px;
}

.main img{
  width: 100%;
}


.btn2{
  position: absolute;
  top: 100%;
  right: 45.7%;
  color: white;
  font-size: 100%;
  padding: 20px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(-45deg, #790979, #FF3D77, #19a4c0, #fff0f0);
  background-size: 400% 400%;
  animation: change 7s ease-in-out infinite;
}

.btn1{
  position: fixed;
  top: 3%;
  right: 2%;
  color: white;
  font-size: 100%;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(-45deg, #790979, #FF3D77, #19a4c0, #fff0f0);
  background-size: 400% 400%;
  animation: change 7s ease-in-out infinite;
}

@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }

}
