*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}

.body{
  font-family: 'Montserrat', sans-serif;
}
.main{

  padding: 0;
  position: relative;
  width: 100%;
}

#logo{
  position: absolute;
  background: none;
  top: 2%;
  left: 4%;
  width: 8%;
}

.bottom{
  color: black;
  width: 100%;
  height: 100vh;

  position: absolute;
  display: none;
}

.flexbox-main{
  height: auto;
  padding-top: 10vh;
}

.flexbox{
  background:none;
}

.card{
  background: white;
}

.image{
  width: 30%;
  background: none;
}

.card .image img{
  object-fit: contain;
  background: none;
  padding-bottom: 20px;
}

.contentbox{
  position: absolute;
  height: 100%;
  display:block;
  background: none;
  left: 24%;
  text-align: center;
  padding: 1.5rem 25px 18px 10px;
}

.main img{
  width: 100%;
}

.bottom-background{
  background: linear-gradient(45deg, #fafcc2, #a0c1b8, #19a4c0, #fff0f0);
  background-attachment: fixed;
}

.bottom-card{
  position: absolute;
  top:-50vh;
  height: 225vh;
  background: #f3eac2;
  border: none;
}

.knowmore-btn{
  display: block;
  position: absolute;
  top: 50%;
  margin-top: 45%;
  right: 45.7%;
  color: white;
  font-size: 100%;
  padding: 15px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(-45deg, #790979, #FF3D77, #19a4c0, #fff0f0);
  background-size: 400% 400%;
  animation: change 7s ease-in-out infinite;
}

.btn1{
  position: fixed;
  top: 3%;
  right: 2%;
  color: white;
  font-size: 100%;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(-45deg, #790979, #FF3D77, #19a4c0, #fff0f0);
  background-size: 400% 400%;
  animation: change 7s ease-in-out infinite;
  z-index:1;
}

@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }

}
