*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}

.body{
  font-family: 'Montserrat', sans-serif;
}

.sgbtn{
  animation: textup 2s linear infinite;
  animation-iteration-count: 1;
}

/* styles for background images and main text */

.banner1{
  background-image: url("./bg-main.jpg");
  background-position: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: zoom-out 7s linear infinite;
}

.banner2{
  background-image: url("./carpenter.jpg");
  background-position: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: zoom-out 7s linear infinite;
}

.banner3{
  background-image: url("./mechanic.jpg");
  background-position: center;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: zoom-out 7s linear infinite;
}

.banner4{
  background-image: url("./worker.jpg");
  background-position: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: zoom-out 7s linear infinite;
}

@keyframes zoom-out {
  0%   { transform: scale(1.1,1.1); }
  100% { transform: scale(1,1); }
}

.text-box1{
  font-family: 'Montserrat', sans-serif;
  width: 700px;
  padding: 5px;
  opacity: 0.8;
  position: absolute;
  top: 200px;
  left: 32%;
  font-size: 200%;
  color: #fff;
  animation: textup 2s linear infinite;
  animation-iteration-count: 1;
}

@keyframes textup{
  0%{
    transform: translateY(80px);
  }
  100%{
    transform: translateY(0px);
  }
}

.text-box1 h1 mark{
  background-color: #000000;
  color: #fff;
}

.text-box1 span{
  background: red;
  height: 2px;
  width: 36vw;
  position: absolute;
  left: 0;
}

.banner1{
  animation: slide1 12s linear infinite;
}

.banner2{
  animation: slide2 12s linear infinite;
}

.banner3{
  animation: slide3 12s linear infinite;
}

.banner4{
  animation: slide4 12s linear infinite;
}

@keyframes slide1{
  0%{
    visibility: visible;
  }
  25%{
    visibility: hidden;
  }
  50%{
    visibility: hidden;
  }
  75%{
    visibility: hidden;
  }
  100%{
    visibility: visible;
  }
}

@keyframes slide2{
  0%{
    visibility: hidden;
  }
  25%{
    visibility: hidden;
  }
  50%{
    visibility: visible;
  }
  75%{
    visibility: hidden;
  }
  100%{
    visibility: hidden;
  }
}

@keyframes slide3{
  0%{
    visibility: hidden;
  }
  25%{
    visibility: hidden;
  }
  50%{
    visibility: hidden;
  }
  75%{
    visibility: visible;
  }
  100%{
    visibility: hidden;
  }
}

@keyframes slide4{
  0%{
    visibility: hidden;
  }
  25%{
    visibility: hidden;
  }
  50%{
    visibility: hidden;
  }
  75%{
    visibility: hidden;
  }
  100%{
    visibility: visible;
  }
}

/* other styles.........*/

.main{
  padding: 0;
  position: relative;
  width: 100%;
}

#logo{
  position: absolute;
  background: none;
  margin-top: 10px;
  z-index: 1;
  top: 2%;
  left: 4%;
  width: 8%;
  animation: textup 2s linear infinite;
  animation-iteration-count: 1;
}

.bottom{
  color: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
}

.flexbox-main{
  height: auto;
  padding-top: 100px;
  background-image: url("./logo.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.flexbox{
  background:none;
}

.card{
  background: white;
}

.image{
  width: 30%;
  background: none;
}

.card .image img{
  object-fit: contain;
  background: none;
  padding-bottom: 20px;
}

.contentbox{
  position: absolute;
  height: 100%;
  display:block;
  background: none;
  left: 24%;
  text-align: center;
  padding: 8px 25px 18px 10px;
}

.main img{
  width: 100%;
}


.knowmore-btn{
  display: block;
  position: absolute;
  top: 50%;
  margin-top: 40%;
  right: 45.7%;
  color: white;
  font-size: 100%;
  padding: 15px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(-45deg, #790979, #FF3D77, #19a4c0, #fff0f0);
  background-size: 400% 400%;
  animation: change 7s ease-in-out infinite;
}

.btn-know{
  animation: textup 2s linear 1;
}

.btn1{
  position: fixed;
  top: 3%;
  right: 2%;
  color: white;
  font-size: 100%;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(-45deg, #790979, #FF3D77, #19a4c0, #fff0f0);
  background-size: 400% 400%;
  animation: change 7s ease-in-out infinite;
  z-index:1;
}

@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }

}
