.Cprofile_height{
    height: 48.5vw;
    max-width: 70vw;
}

.Cprofile_Pane{
    padding: 0 0 0 10px;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 0px;
    background: white;
}

.Cprofile_button{
    background: white;
    border: none;
    color: #00adee;
}

.Cprofile_cards li{
    font-size: 1vw;
}

.Cprofile_cards img{
    object-fit: contain;
    max-height: 200px;
}

.Cprofile_cards {
    max-height: 250px;
    height: 10%;
}

.checked {
    color: orange;
}

.Cprofile_h1{
    font-size: 2.7vw;
    font-weight: lighter;
}

.Cprofile td{
    font-size: 1.4vw;
    padding-right: 15px;
}

.Cprofile_a{
    color: black;
}

.Cprofile_a:hover{
    color: gray;
}
