.Sort_body {
    margin: 0;
}

.Sort_pane{
    padding-left: 10px;
    width: 15%;
    height: 100%;
    float: left;
    background: #c6fce5;
    font-size: 1.25vw;
}

.Sort_div{
    padding: 5px 5px 10px;
}