<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sort-FilterPane</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
		<link rel="stylesheet" type="text/css" href="Sort-Filter%20Pane.css">
	</head>
	<body class="Sort_body">
		<div class="Sort_pane shadow-3">
			<div class="Sort_div">
				<t>Sort By : </t><br>
				<input type="radio" id="location" name="sort" value="location">
				<label for="location">Location</label><br>
				<input type="radio" id="ratings" name="sort" value="ratings">
				<label for="ratings">Ratings</label><br>
			</div>
			<div class="Sort_div">
				<t>stbsbgf</t><br>
				<input type="checkbox" id="location" name="filter1" value="location">
				<label for="location">Location</label><br>
				<input type="checkbox" id="ratings" name="filter1" value="ratings">
				<label for="ratings">Ratings</label><br>
			</div>
			<div class="Sort_div">
				<t>stbsbgf</t><br>
				<input type="checkbox" id="location" name="filter2" value="location">
				<label for="location">Location</label><br>
				<input type="checkbox" id="ratings" name="filter2" value="ratings">
				<label for="ratings">Ratings</label><br>
			</div>
			<div class="Sort_div">
				<t>stbsbgf</t><br>
				<input type="checkbox" id="location" name="filter3" value="location">
				<label for="location">Location</label><br>
				<input type="checkbox" id="ratings" name="filter3" value="ratings">
				<label for="ratings">Ratings</label><br>
			</div>
		</div>
	</body>
</html>
