.Sort_body {
    margin: 0;
}

.Sort_pane{
    padding-left: 10px;
    min-width: 15vw;
    height: 100%;
    float: left;
    background: #41aea9;
    font-size: 1.25vw;
}

.Sort_div{
    padding: 5px 5px 10px;
}