<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="sort.css">
</head>
<body>
<span class="a-dropdown-container">
	<label for="s-result-sort-select" class="a-native-dropdown">Sort by:</label>
	<select name="s" autocomplete="off" id="s-result-sort-select" tabindex="0" data-action="a-dropdown-select" class="a-native-dropdown a-declarative" aria-pressed="false">
        
            <option data-url="" value="Location" selected="">Location</option>
        
            <option data-url="" value="Rating">Rating</option>
        
        </select>
    <span tabindex="-1" aria-label="Sort by:" class="a-button a-button-dropdown a-button-small" aria-hidden="true" id="a-autoid-0" style="min-width: 0%;">
    	<span class="a-button-inner">
    		<span class="a-button-text a-declarative" data-action="a-dropdown-button" role="button" aria-hidden="true" id="a-autoid-0-announce">
    			<span class="a-dropdown-label"></span>
    			<span class="a-dropdown-prompt"></span>
    		</span>
    		<i class="a-icon a-icon-dropdown">
    			
    		</i>
    	</span>
    </span>
</span>
</body>
</html>
