<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" type="text/css" href="D:\fontawesome-free-5.15.1-web\css\all.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Category%20Page.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <a class="a navbar-brand" href="#"><img class="logo" src="kod.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="tfheader">
            <input type="search" class="tftextinput" size="21" maxlength="120" placeholder="Search workers..."><button class="tfbutton">Search</button></input>
        </div>
        <div class="collapse navbar-collapse justify-end" id="navbarNavDropdown">
            <ul class="navbar-nav nav_links">

                <li class="nav-item active">
                    <a class="a nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="a nav-link" href="#">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="a nav-link" href="#">Sign-Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>

            <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
                <img class="br3 dib" src="kod.png" alt='logo'/>
            </div>

        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        <div class='card tc dib br3 pa3 ma2 grow bw2 shadow-5'>
            <img class="br3 dib" src="https://robohash.org/123" alt='robot'/>
            <div>
                <h2>Lorem Ipsum</h2>
            </div>
        </div>

    </div>
</body>
</html>