<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Worker Info</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
        <link rel="stylesheet" href="Worker%20Info.css">

    </head>
    <body class="container-fluid">
        <div class="row">
            <div class="col-4 image">
                <img src="https://robohash.org/12" alt=""/>
            </div>
            <div class="col-7 description">
                <div class="d-flex justify-content-between">
                    <h1 class="">Lorem ipsum</h1>
                </div>
                <p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </p>
                <table>
                    <tr>
                        <td>
                            <h4>Services</h4>
                        </td>
                        <td class="d">
                            <h4>-&nbsp;Bibendum, Elementum, Lobortis</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Working Hours</h4>
                        </td>
                        <td class="d">
                            <h4>-&nbsp;9:00 a.m. to 7:00 p.m.</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Working Days</h4>
                        </td>
                        <td class="d">
                            <h4>-&nbsp; Monday to Saturday</h4>
                        </td>
                    </tr>
                </table>
                <h4>Description of service - </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis condimentum hendrerit. Nunc eleifend mollis tempor.
                    Curabitur arcu tortor, pulvinar sed ligula nec, sodales aliquet lacus. Nulla elementum felis eget magna accumsan semper.
                    Suspendisse ut lacus elementum, porta tortor sed, suscipit ex. Quisque quis nisi eros. Mauris vulputate et lectus eget
                    viverra. Ut bibendum elementum lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus. Fusce dignissim diam aliquam massa laoreet tempus a sit amet velit.
                </p>
                <div class="d-flex justify-end">
                    <button class="btn btnreq btn-primary text-lg-center">Request service</button>
                </div>

            </div>
        </div>
        <hr/>
        <div class="row ">
            <h2 class="col-12 pa3-l">Ratings And Reviews</h2>
            <div class="col-8 comment">
                <div>
                    <h4>adflvjdfm</h4>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis condimentum hendrerit. Nunc eleifend mollis tempor.
                        Curabitur arcu tortor, pulvinar sed ligula nec, sodales aliquet lacus. Nulla elementum felis eget magna accumsan semper.
                        Suspendisse ut lacus elementum, porta tortor sed, suscipit ex. Quisque quis nisi eros. Mauris vulputate et lectus eget
                        viverra. Ut bibendum elementum lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Fusce dignissim diam aliquam massa laoreet tempus a sit amet velit.
                    </p>
                </div>

                <div>
                    <h4>adflvjdfm</h4>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis condimentum hendrerit. Nunc eleifend mollis tempor.
                        Curabitur arcu tortor, pulvinar sed ligula nec, sodales aliquet lacus. Nulla elementum felis eget magna accumsan semper.
                        Suspendisse ut lacus elementum, porta tortor sed, suscipit ex. Quisque quis nisi eros. Mauris vulputate et lectus eget
                        viverra. Ut bibendum elementum lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Fusce dignissim diam aliquam massa laoreet tempus a sit amet velit.
                    </p>
                </div>

                <div>
                    <h4>adflvjdfm</h4>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis condimentum hendrerit. Nunc eleifend mollis tempor.
                        Curabitur arcu tortor, pulvinar sed ligula nec, sodales aliquet lacus. Nulla elementum felis eget magna accumsan semper.
                        Suspendisse ut lacus elementum, porta tortor sed, suscipit ex. Quisque quis nisi eros. Mauris vulputate et lectus eget
                        viverra. Ut bibendum elementum lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Fusce dignissim diam aliquam massa laoreet tempus a sit amet velit.
                    </p>
                </div>

                <div>
                    <h4>adflvjdfm</h4>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis condimentum hendrerit. Nunc eleifend mollis tempor.
                        Curabitur arcu tortor, pulvinar sed ligula nec, sodales aliquet lacus. Nulla elementum felis eget magna accumsan semper.
                        Suspendisse ut lacus elementum, porta tortor sed, suscipit ex. Quisque quis nisi eros. Mauris vulputate et lectus eget
                        viverra. Ut bibendum elementum lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Fusce dignissim diam aliquam massa laoreet tempus a sit amet velit.
                    </p>
                </div>

            </div>
            <div class="col-6">
                <h3>Add a Review</h3>
                <label for="title">Title :&emsp;&nbsp;</label>
                <input type="text" id="title" placeholder="Title"/><br/>
                <label for="review">Review :</label>
                <textarea class="review" id="review" placeholder="Write a review"></textarea><br/>
                <p>Service : &emsp;
                    <input type="radio" id="1"/>
                    <label for="1">very bad</label>&nbsp;
                    <input type="radio" id="2"/>
                    <label for="2">bad</label>&nbsp;
                    <input type="radio" id="3"/>
                    <label for="3">good</label>&nbsp;
                    <input type="radio" id="4"/>
                    <label for="4">very good</label>&nbsp;
                    <input type="radio" id="5"/>
                    <label for="5">excellent</label>
                </p>
                <button class="btn btn-primary">Add review</button>
            </div>
        </div>
    </body>
</html>