body{
    background: white;
}

.Winfo_main div{
    padding-bottom: 5px;
    padding-top: 5px;
}

.Winfo_main img{
    align-self: center;
}

.Winfo_main h1 {
    margin: 0;
}

.checked {
    color: orange;
}

.Winfo_main .description {
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
}

.Winfo_main .description h4 {
    margin-top: 25px;
}

.Winfo_main .image {
    display: flex;
    flex-direction: column;
}

.Winfo_main .review {
    width: 100%;
    height: 10vw;
    padding-bottom: 20px;
    margin-bottom: 10px;
    align-self: flex-end;
}

.Winfo_main .comment div {
    border-bottom: 1px solid darkgray;
}

.Winfo_main .btnreq {
    padding: 15px;
    width: 30%;
}

.Winfo_main h4{
    font-weight: normal;
}

.Winfo_main .padding{
    padding-bottom: 25px;
}