.App {
  background-image : url(logo.jpg);
	background-repeat : no-repeat;
  background-size: cover;
  background-position: center;
	position : relative ;
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Tagline {
  color: #357976
}

.App-link {
  color: #61dafb;
}

.signup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
